<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY_TWITTER</key>
	<string>Fdfjs2bwpxeiMxMqhh1jzeJap</string>
	<key>API_SECRET_KEY_TWITTER</key>
	<string>VVhJtsBNDJ1yjSLzsqSfdAoBQmXeFVsehwBN4DaFyxUokmN519</string>
</dict>
</plist>
